/* root */

:root {
    --primary-text-color:#434455;
    --title-text-color:#2E2F42;
    --second-text-color:#FFFFFF;
    --accent-color:#4D5AE5;
    --head-background-color:#E5E5E5;
    --other-background-color: #F4F4FD;}

/* body */

body {color:var(--primary-text-color);
    background-color:var(--head-background-color);}
ul {list-style-type: none;}

/* header */

.web {display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;    
    color:var(--accent-color);}
.logo {width: 71px;
    height: 24px;    
    font-family:'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    text-decoration: none;}
.nav .link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color:var(--title-text-color);    
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase; 
    text-decoration: none;}  
.nav .link.current {color:var(--accent-color);}    
.nav .link .current:hover,
.nav .link:hover {color:var(--accent-color);}
.nav .link.current:focus, 
.nav .link:focus {color:var(--accent-color);}
.mail .address, .ul .style {font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color:var(--primary-text-color);
    text-decoration: none;} 
.mail .address:hover  {color:var(--accent-color);}    
.mail .address:focus  {color:var(--accent-color);}    

/* block hero */

.header {background:var(--title-text-color);}
.header-div {font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color:var(--second-text-color);}

/* button */

.button {color:var(--second-text-color); 
    background:var(--accent-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    flex: none;
    order: 0;
    flex-grow: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 170px;
    height: 51px;
    padding-left: 32px;}

.button.all {color:var(--second-text-color); 
    background:var(--accent-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    flex: none;
    order: 0;
    flex-grow: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 69px;
    height: 48px;
    padding: 8px 16px;}

.button.web {color:var(--second-text-color); 
    background:var(--accent-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    flex: none;
    order: 0;
    flex-grow: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 8px 16px;
    width: 116px;
    height: 48px;}

.button.app {color:var(--second-text-color); 
        background:var(--accent-color);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        flex: none;
        order: 0;
        flex-grow: 0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        padding: 8px 16px;
        width: 78px;
        height: 48px;}

.button.app {color:var(--second-text-color); 
        background:var(--accent-color);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        flex: none;
        order: 0;
        flex-grow: 0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        padding: 8px 16px;
        width: 78px;
        height: 48px;} 
        
.button.desing {color:var(--second-text-color); 
        background:var(--accent-color);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        flex: none;
        order: 0;
        flex-grow: 0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        padding: 8px 16px;
        width: 101px;
        height: 48px;} 
        
.button.marketing {color:var(--second-text-color); 
        background:var(--accent-color);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        flex: none;
        order: 0;
        flex-grow: 0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        padding: 8px 16px;
        width: 126px;
        height: 48px;}         


.button.primary {color: var(--second-text-color);
    background-color: var(--accent-color);}    
.button.secondary {color: var(--accent-color);
background-color: var(--other-background-color) ;}

/* .button.primary:hover {color: var(--second-text-color);}
.button.secondary:hover {color: var(--accent-color);}
.button.primary:focus {color: var(--accent-color);}
.button.secondary:focus {color: var(--second-text-color);} */

/* description */

.description-header {font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color:var(--title-text-color);}

.description-text {font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color:var(--primary-text-color);}   
    
/* images */

.images-header {font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:var(--title-text-color);}

/* our team */

.team {background:var(--other-background-color);}
.team-header {font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-text-color);}

.team-header-name {font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color:var(--title-text-color);}  
    
.team-text-name {font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color:var(--primary-text-color);}    


/* footer */

    .footer {background: var(--title-text-color);}
    .footer-studio {color: var(--other-background-color); }
    .footer-text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #E7E9FC;}




        /* hiden title */

    .hide {display: none;
        transition: all ease 0.8s;}    